Repository andnil5/dd2480-grp12-assignment2, pull requests merged in 2021-02, with the labels that each got.

#7 docs: create initial README, issue #5
  README.md
Labels: documentation, readme

#3 chore: add repo structure, issue #2
  __init__.py
  src/__init__.py
  tests/__init__.py
Labels: good first issue

#20 feat: add simple ci-server, issue #15
  .gitignore
  src/ci_utils.py
  src/server.py
  tests/test_ci_utils.py
Labels: server

#26 Resolve Issue #25
  src/ci_utils.py
  src/status_response.py
Labels: bug

#24 Add documentation for GitHub/CI-server API
  docs/api.md
Labels: api, documentation

#36 Readme
  README.md
  architecture.PNG
Labels: readme

#37 Change response return code to 404 for requests of non existing log files.
  src/ci_utils.py
  src/server.py
  src/status_response.py
Labels: bug, server

#41 docs: add documentation for the correlation between commit states and return codes, fixes issue #38
  src/status_response.py
Labels: api, documentation

#35 Add tests for the Status_response class
  requirements.txt
  tests/test_status_response.py
Labels: test

#39 Unittest
  .gitignore
  __init__.py
  requirements.txt
  src/ci_utils.py
  src/server.py
  src/status_response.py
  tests/test_ci_utils.py
  tests/test_status_response.py
Labels: clone repo, server, setup, test
